# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TwitterExercise/bin/Debug/netcoreapp2.1
/TwitterExercise/obj/Release/netcoreapp2.1
/TwitterExercise/obj/Debug/netcoreapp2.1
/.vs/TwitterExercise/v15/Server/sqlite3
